body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: hsl(0, 0%, 10%);
}

p {
    margin: 0;
    padding: 0;
}

.left,
.right {
    position: absolute;
    color: #fff;
    font-family: Geneva, sans-serif;
}

.left {
    bottom: 1em;
    left: 1em;
    text-align: left;
}

.right {
    top: 0;
    right: 0;
    text-align: right;
}

a {
    color: #f58231;
}
.3dContainer {
    position: absolute;
    z-index: 3;
}
.localVideo {
    z-index: 1;
    width: 80%;
    margin-left: 10%;
    /*-webkit-transform: rotateY(180deg);*/
}
.annotate {
    position: absolute;
    height: 200px;
    width: 300px;
    /* background: #FFF; */
    z-index: 15;
}
.annotateCircleLeft {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    left: 418px;
    top: 18px;

}
.annotateLineLeft {
    border: 1px solid #ffffff;
    position: absolute;
    top: 35px;
    left: 325px;
    width: 91px;
    z-index: 99;
}
.annotateTipLeft {
    position: relative;
    z-index: 5;
    background: rgba(69, 145, 216, 0.66);
    padding: 10px;
    border-radius: 7px;
    border-color: #5184a9;
    border: 3px solid;
    width: 300px;
    font-size: 26px;
    color: white;
    font-family: monospace;
    text-align: center;
    height: 80px;
}

.annotateCircleRight {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    top: 18px;

}
.annotateLineRight {
    border: 1px solid #ffffff;
    position: absolute;
    top: 35px;
    left: 36px;
    width: 91px;
    z-index: 99;
}
.annotateTipRight {
    position: relative;
    z-index: 5;
    background: rgba(69, 145, 216, 0.66);
    padding: 10px;
    border-radius: 7px;
    border-color: #5184a9;
    border: 3px solid;
    width: 300px;
    font-size: 26px;
    color: white;
    font-family: monospace;
    text-align: center;
    height: 80px;
    left: 129px;
}


.tooltip {
    position: absolute;
    z-index: 5;
    background: rgba(69, 145, 216, 0.66);
    padding: 10px;
    border-radius: 7px;
    border-color: #5184a9;
    border: 3px solid;
    width:300px;
    font-size: 26px;
    color: white;
    font-family: monospace;
    text-align: center;
}
.pointer {
    /*position: absolute;
    z-index: 12;
    padding: 20px;
    border-radius: 68%;
    border: 3px solid;
    color: white;*/

    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
}
.upperMenuItem {
    width: 100px ;
    height: 100px ;
    margin-left: 30px;
    margin-right: 30px;
}
.loading {
    z-index: 9;
    position: absolute;
    top: 44%;
    left: 43%;
    /* font-size: large; */
    font-family: "open-sans-1", "open-sans-2", Helvetica, Arial, sans-serif;
    font-size: 65px;
    color: rgba(0, 180, 255, 0.83);
}
.blink {
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
     animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
    